.flex-container {
    display: flex;
}

.sidebar {
    flex: 10%;
    background-color: rgb(33,37,41);
    height: 100vh;
    margin-left: 5%;
}

.blog {
    flex: 80%;
    background-color: gainsboro
}

.blogpost {
    width: 50%;
    margin-left: 3rem;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-sizing: border-box;
    padding: 2rem;;
    background-color: white;
}

@media screen and (max-width: 560px) {
    .modal {
     width: 100%;
    }
}

.modal__footer {
    float: right;

}

.button__closeModal {
    float: right;
    background-color: white;
    color: red;
    border-color: red;
}

.modal__text {
    font-size: 1.2rem;
}

.modal__header {
    font-size: 1.5rem;
}

.button__download {
    background-color: green;
    color: white;
}

.button__okay {
    background-color: green;
    color: white;
}

.button__cancel {
    background-color: red;
    color: white;
}